ul.socialMedia {
    display: flex;
    padding: 60px;
    justify-content: space-evenly;
}

ul.socialMedia li {
    width: calc(100% / 3.5);
}

ul.socialMedia li:last-child {
    margin-right: 0px;
}

ul.socialMedia li img {
    width: 100%;
    display: block;
}