footer p {
    margin: 0;
    padding: 0;
}

footer {
    font-size: .8em;
    padding: 5px;
    text-align: center;
    background-color: $black;
    color: $offWhite;
}

footer a {
    color: $offWhite;
}