.quickLinks {
    max-width: 1200px;
    margin: 0 auto;
}

.quickLinks ul {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.quickLinks li {
    width: 50%;
    padding: 0px 100px 100px 100px;
    min-width: 495px;
    position: relative;
}

.quickLinks li i {
    font-size: .8em;
    position: absolute; 
    top: -5px;
    left: 40px;
    padding: 10px;
    border-radius: 50px;
    background-color: $orange;
}

.quickLinks h3 {
    margin-bottom: 40px;
}

.half1 {
    height: 50vh;
    background-image: url('./assets/home-image-4.jpg');
    background-size: cover;
}