@media (max-width: 1350px) {

    .picturesAndText {
        display: block;
        background-color: $white;
    }

    .picturesAndText figure,
    .text {
        min-width: 0px;
        width: 100vw;
    }

    .text {
        position: static;
        padding: 60px;
        text-align: center;
    }

    .text.one {
        padding-bottom: 80px;
    }

    .text.two {
        text-align: center;
    }

    .text .wrap {
        position: static;
        width: auto;
    }

    .picturesAndText figure.one {
        background-color: $red;
        height: auto;
    }

    .picturesAndText figure.two {
        height: auto;
        background-color: $orange;
    }

    .picturesAndText figure.one,
    .picturesAndText figure.two {
        position: static;
        text-align: center;
        padding-bottom: 10px;
    }

    figure.one img,
    figure.two img {
        position: static; 
        width: 50%;
        max-width: 1200px;
        margin: -20px auto 0 auto;
        min-width: 0px;
    }


}

@media (max-width: 990px) {
    
    .quickLinks ul {
        display: block;
    }
    
    .quickLinks li {
        width: 100%;
    }

    ul.socialMedia {
        justify-content: space-evenly;
    }

    ul.socialMedia li:last-child {
        display: none;
    }

    .journey {
        display: block;
    }

    .sophiesJourney figure {
        position: static;
        display: block;
        max-width: auto;
        margin: 0 auto;
        padding: 0;
    }

    .sophiesJourney figure img {
        position: static;
        min-width: 100px;
    }

    .sophiesJourney .body {
        text-align: center;
        margin: 0;
        width: 100%;
        margin-top: 60px;
    }

    .sophiesJourney p {
        text-align: center;
    }
    
    header nav.desktop {
        display: none;
    }

    header.index nav.smaller,
    header.blog nav.smaller,
    header.contact nav.smaller {
        display: block;
    }

    form.comments,
    form.contact {
        display: block;
    }

    form.comments input,
    form.comments textarea,
    form.comments button,
    form.contact input,
    form.contact textarea,
    form.contact button {
        width: 100%;
        display: block;
    }

    form.comments input.email,
    form.contact input.email {
        margin-top: 10px;
    }

}

@media (max-width: 960px) {
    
    li.index {
        display: none;
    }

    h1::before {
        opacity: 0;
    }

    header.blog nav,
    header.contact nav {
        background-color: transparent;
    }

    header.index {
        position: relative;
    }

    header.index h1 {
        position: absolute;
        top: 100px;
        color: $offWhite;
        transform: rotate(-10deg);
        font-size: 3em;
        text-shadow: 2px 0px $black;
    }

    .sophieStory {
        padding: 200px 60px;
        text-align: center;
    }

    main.contact {
        display: block;
    }

    main.contact aside {
        width: 100%;
    }

    main.contact section.contact {
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }

    main.contact .flex {
        display: flex;
        margin-top: 40px;
        justify-content: space-evenly;
    }

    .desc p.email {
        margin: 0 10px 0 0;
    }

    .desc p {
        font-family: Lora;
    }

}

@media (max-width: 800px) {
    
    main.blog {
        display: block;
    }

    main.blog aside {
        width: 100%;
    }

    main.blog .desc {
        display: flex;
    }

    .desc div {
        padding-left: 20px;
    }

    section.posts{
        width: 100%;
        margin-left: 0;
    }

    .recent {
        margin-bottom: 40px;
    }

    h1.contact,
    h1.blog {
        font-size: 2em;
        text-align: center;
    }

}

@media (max-width: 500px) {
    
    main.blog .desc {
        display: block;
    }

    .desc figure {
        width: 100%;
        display: block;
    }
 
    .desc div {
        padding: 0px;
        width: 100%;
    }

}