html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-transition: all ease .1s;
  transition: all ease .1s;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans serif;
  font-size: 20px;
  line-height: 29px;
  color: #2c2c2c;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1.index {
  position: relative;
  font-size: 80px;
  font-family: 'Lora', serif;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
}

h1.index::before {
  content: "";
  display: block;
  width: 200px;
  height: 130px;
  background-image: url("./assets/circle-text.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -110px;
  left: -50px;
}

h2 {
  font-size: 42px;
  font-family: 'Roboto', sans serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  font-family: 'Roboto', sans serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-size: 24px;
  font-family: 'Roboto', sans serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

ul,
li,
figure,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.emph {
  padding: 10px 25px;
  background-color: #05afc1;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid #05afc1;
}

.emph:hover,
.emph:focus {
  border: 2px solid #2c2c2c;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  width: 100vw;
  height: 80vh;
  background-color: #f6a823;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header.index nav,
header.contact nav,
header.blog nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  text-align: center;
  text-transform: uppercase;
}

header.index nav.smaller,
header.contact nav.smaller,
header.blog nav.smaller {
  display: none;
}

header.index nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

header.index nav li {
  letter-spacing: 1px;
}

li.index {
  font-size: 2em;
  font-family: 'Lora', serif;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
}

nav li a:hover,
nav li a:active,
nav li a:focus {
  color: #f0efed;
}

header.index figure {
  height: 100%;
  -webkit-box-shadow: 20px 20px 0px #f0efed;
          box-shadow: 20px 20px 0px #f0efed;
  margin-top: 100px;
}

header.index figure img {
  display: block;
  height: 100%;
}

main.about {
  background-color: #dcdcdc;
}

.sophieStory {
  padding: calc(20vh + 2px) 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.sophieStory h2,
.sophieStory p,
.picturesAndText h3,
.picturesAndText p {
  margin-bottom: 40px;
}

.picturesAndText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.picturesAndText figure,
.text {
  width: 50vw;
  min-width: 675px;
}

.text {
  position: relative;
  padding: 60px;
}

.text.two {
  text-align: right;
}

.text .wrap {
  position: absolute;
  width: 470px;
  right: 70px;
}

.text.one .wrap {
  left: 50px;
}

.picturesAndText figure.one {
  background-color: #a82706;
  text-align: right;
  position: relative;
  height: 400px;
  top: -20px;
}

.picturesAndText figure.two {
  background-color: #f6a823;
  text-align: right;
  position: relative;
  height: 400px;
  top: 40px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

figure.one img {
  right: 20px;
  top: -20px;
}

figure.two img {
  left: -20px;
  top: -20px;
}

figure.one img,
figure.two img {
  position: absolute;
  max-width: 650px;
  min-width: 450px;
}

.journey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.body p,
.body h2 {
  margin-bottom: 40px;
}

.sophiesJourney p {
  text-align: left;
}

.sophiesJourney figure {
  width: 25%;
  max-width: 250px;
  padding-right: 60px;
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
}

.sophiesJourney figure img {
  width: 100%;
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
  -webkit-box-shadow: 20px 20px 0px #f6a823;
          box-shadow: 20px 20px 0px #f6a823;
}

.sophiesJourney .body {
  text-align: left;
  width: calc(75% - 60px);
  margin-left: 60px;
}

.quickLinks {
  max-width: 1200px;
  margin: 0 auto;
}

.quickLinks ul {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.quickLinks li {
  width: 50%;
  padding: 0px 100px 100px 100px;
  position: relative;
}

.quickLinks li i {
  font-size: .8em;
  position: absolute;
  top: -5px;
  left: 40px;
  padding: 10px;
  border-radius: 50px;
  background-color: #f6a823;
}

.quickLinks h3 {
  margin-bottom: 40px;
}

.half1 {
  height: 50vh;
  background-image: url("./assets/home-image-4.jpg");
  background-size: cover;
}

ul.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul.socialMedia li {
  width: calc(100% / 3.5);
}

ul.socialMedia li:last-child {
  margin-right: 0px;
}

ul.socialMedia li img {
  width: 100%;
  display: block;
}

footer p {
  margin: 0;
  padding: 0;
}

footer {
  font-size: .8em;
  padding: 5px;
  text-align: center;
  background-color: #2c2c2c;
  color: #f0efed;
}

footer a {
  color: #f0efed;
}

header.blog,
header.contact {
  background-color: transparent;
  height: auto;
}

header.blog figure img,
header.contact figure img {
  width: 100%;
}

header.blog nav,
header.contact nav {
  background-color: #f6a823;
  width: 100%;
}

header.blog nav ul,
header.contact nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  text-transform: uppercase;
}

header.blog nav li,
header.contact nav li {
  letter-spacing: 1px;
}

header.index nav ul li a.onPage,
header.blog nav ul li a.onPage,
header.contact nav ul li a.onPage {
  color: #f0efed;
}

h1.blog::before,
h1.contact::before {
  display: none;
}

.block {
  margin-top: -8px;
  background-color: #dcdcdc;
}

.wrapper .blog,
.wrapper .contact {
  position: relative;
}

h1.blog,
h1.contact {
  position: absolute;
  top: -17px;
  font-size: 80px;
  font-family: 'Lora', serif;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
}

main.blog,
main.contact {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main.blog aside,
main.contact aside {
  width: 30%;
}

h4.sophie,
.post h2 {
  text-decoration: underline;
}

main.blog aside figure,
main.blog aside h4,
section.posts h2,
section.posts p,
.date {
  margin-bottom: 20px;
}

section.posts h2 {
  line-height: 40px;
}

.date {
  font-style: italic;
}

section.comments .date,
.author {
  font-weight: bold;
  color: #285e64;
}

main.blog aside li {
  padding-left: 10px;
  margin-bottom: 10px;
}

main.blog aside li:last-of-type,
.post p:last-of-type {
  margin: 0;
}

main.blog aside li::before {
  content: "\2022";
  color: #f6a823;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.desc,
.recent,
.post {
  padding: 30px;
  background-color: #f0efed;
}

.recent {
  margin-top: 40px;
}

section.posts,
section.contact {
  width: calc(70% - 40px);
  margin-left: 40px;
}

main.blog aside figure img {
  width: 100%;
}

.post figure {
  float: left;
  width: 10%;
  margin-right: 20px;
}

.post .content {
  float: right;
  width: calc(90% - 20px);
}

.post figure img {
  width: 100%;
}

.comments .post {
  margin-top: 40px;
}

.comments .post:last-of-type {
  border-bottom: 2px solid #f6a823;
}

form {
  margin: 0;
  padding: 40px 0 100px 0;
  border: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 10fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 10fr 1fr 1fr;
}

form.contact {
  padding-top: 0px;
}

section.posts input,
section.contact input,
textarea.userContent {
  font-family: 'Roboto', sans serif;
  border: 0;
  background-color: #f0efed;
  padding: 20px;
  color: #2c2c2c;
}

section.posts input::-webkit-input-placeholder,
section.contact input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-style: italic;
}

section.posts input:-ms-input-placeholder,
section.contact input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-style: italic;
}

section.posts input::-ms-input-placeholder,
section.contact input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-style: italic;
}

section.posts input::placeholder,
section.contact input::placeholder,
textarea::placeholder {
  font-style: italic;
}

section.posts input.email,
section.contact input.email {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

section.posts input.name,
section.contact input.name {
  margin-right: 10px;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

textarea.userContent {
  margin: 10px 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  max-width: 100%;
  resize: horizontal;
}

section.posts button,
section.contact button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 5;
  grid-row: 5;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.click {
  font-family: 'Roboto', sans serif;
  color: #2c2c2c;
  background-color: #05afc1;
  text-transform: uppercase;
  padding: 10px 0px;
}

main.contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.contact a i {
  color: #f6a823;
}

main.contact a i:hover,
main.contact a i:focus {
  color: #285e64;
}

.desc p.email {
  font-weight: bold;
  font-size: 1.1em;
  margin: 20px 0px;
}

@media (max-width: 1350px) {
  .picturesAndText {
    display: block;
    background-color: #ffffff;
  }
  .picturesAndText figure,
  .text {
    min-width: 0px;
    width: 100vw;
  }
  .text {
    position: static;
    padding: 60px;
    text-align: center;
  }
  .text.one {
    padding-bottom: 80px;
  }
  .text.two {
    text-align: center;
  }
  .text .wrap {
    position: static;
    width: auto;
  }
  .picturesAndText figure.one {
    background-color: #a82706;
    height: auto;
  }
  .picturesAndText figure.two {
    height: auto;
    background-color: #f6a823;
  }
  .picturesAndText figure.one,
  .picturesAndText figure.two {
    position: static;
    text-align: center;
    padding-bottom: 10px;
  }
  figure.one img,
  figure.two img {
    position: static;
    width: 50%;
    max-width: 1200px;
    margin: -20px auto 0 auto;
    min-width: 0px;
  }
}

@media (max-width: 990px) {
  .quickLinks ul {
    display: block;
  }
  .quickLinks li {
    width: 100%;
  }
  ul.socialMedia {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  ul.socialMedia li:last-child {
    display: none;
  }
  .journey {
    display: block;
  }
  .sophiesJourney figure {
    position: static;
    display: block;
    max-width: auto;
    margin: 0 auto;
    padding: 0;
  }
  .sophiesJourney figure img {
    position: static;
    min-width: 100px;
  }
  .sophiesJourney .body {
    text-align: center;
    margin: 0;
    width: 100%;
    margin-top: 60px;
  }
  .sophiesJourney p {
    text-align: center;
  }
  header nav.desktop {
    display: none;
  }
  header.index nav.smaller,
  header.blog nav.smaller,
  header.contact nav.smaller {
    display: block;
  }
  form.comments,
  form.contact {
    display: block;
  }
  form.comments input,
  form.comments textarea,
  form.comments button,
  form.contact input,
  form.contact textarea,
  form.contact button {
    width: 100%;
    display: block;
  }
  form.comments input.email,
  form.contact input.email {
    margin-top: 10px;
  }
}

@media (max-width: 960px) {
  li.index {
    display: none;
  }
  h1::before {
    opacity: 0;
  }
  header.blog nav,
  header.contact nav {
    background-color: transparent;
  }
  header.index {
    position: relative;
  }
  header.index h1 {
    position: absolute;
    top: 100px;
    color: #f0efed;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
    font-size: 3em;
    text-shadow: 2px 0px #2c2c2c;
  }
  .sophieStory {
    padding: 200px 60px;
    text-align: center;
  }
  main.contact {
    display: block;
  }
  main.contact aside {
    width: 100%;
  }
  main.contact section.contact {
    width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }
  main.contact .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .desc p.email {
    margin: 0 10px 0 0;
  }
  .desc p {
    font-family: Lora;
  }
}

@media (max-width: 800px) {
  main.blog {
    display: block;
  }
  main.blog aside {
    width: 100%;
  }
  main.blog .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .desc div {
    padding-left: 20px;
  }
  section.posts {
    width: 100%;
    margin-left: 0;
  }
  .recent {
    margin-bottom: 40px;
  }
  h1.contact,
  h1.blog {
    font-size: 2em;
    text-align: center;
  }
}

@media (max-width: 500px) {
  main.blog .desc {
    display: block;
  }
  .desc figure {
    width: 100%;
    display: block;
  }
  .desc div {
    padding: 0px;
    width: 100%;
  }
}
